html {
  width: 100%;
}

body {
  width: auto;
  height: auto;
}

header {
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
}

section .divider {
  border-top: 8px solid #D24545;
  border-radius: 5px;
  width: 1260px;
  margin-top: 80px;
}

@media (max-width: 1024px) {
  section .divider {
    width: 90%;
  }
}

.news-inner-section .divider {
  margin-top: 20px;
}

.container-fluid {
  max-width: 100%;
  padding: 0;
  font-family: SF Pro Text, Helvetica, Arial, sans-serif;
}

.container-fluid a {
  text-decoration: none;
  color: #000000;
}

.container-fluid ul li {
  list-style-type: none;
  display: inline-block;
}

.container-fluid .section-title {
  width: 63px;
  height: 24px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

/* Star of Navbar */
.mobile {
  display: none;
}

.footer-mobile, .text-center, .justify-content-center {
  display: none;
}

.navigation-menu .link-title {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: SF Pro Text, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  border-right: 1px solid #DDDDDD;
}

.navigation-menu .first-link {
  margin-left: 180px;
}

.navigation-menu .second-link {
  width: 150px;
  margin-right: 0px;
}

.navigation-menu .third-link {
  width: 100px;
}

.navigation-menu .fourth-link {
  border-right: none;
  margin-right: 0;
}

.navigation-menu .weather-search {
  margin-left: 100px;
}

.navigation-menu .weather-widget img {
  width: 100px;
  margin-left: 280px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Start Social Icons */
.desktop-nav, .bottom-nav {
  border-bottom: 1px solid #DDDDDD;
}

.desktop-nav h1 a, .desktop-nav .navbar-brand, .bottom-nav h1 a, .bottom-nav .navbar-brand {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #6A0B0B !important;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
}

.desktop-nav h1 a, .bottom-nav h1 a {
  margin-left: 205px;
}


header ul .social-icons .nav-link, header ul .social-icons nav div .navigation-menu .list-inline .nav-link, footer ul .social-icons .nav-link, footer ul .social-icons nav div .navigation-menu .list-inline .nav-link {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  margin: 1px;
  background-color: #EBEBEB;
  padding: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header ul .social-icons .nav-link:hover, footer ul .social-icons .nav-link:hover {
  background-color: #d6d6d6;
}

header ul .social-icons .facebook, footer ul .social-icons .facebook {
  margin-left: 110px;
}

header ul .social-icons .fa-facebook, footer ul .social-icons .fa-facebook {
  margin-left: 5px;
  color: black;
}

header ul .social-icons .fa-twitter, footer ul .social-icons .fa-twitter {
  margin-left: 4px;
  color: black;
}

header ul .social-icons .fa-instagram, footer ul .social-icons .fa-instagram {
  margin-left: 2px;
  color: #000000;
}

header ul .social-icons .subscribe-btn, footer ul .social-icons .subscribe-btn {
  width: 182px;
  height: 41.4px;
  margin-top: 10px;
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
}

/* Start of search bar */
input {
  outline: none;
  position: absolute;
  margin-bottom: 20px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type=search] {
  background: url("images/searchIcon.png") no-repeat 1px center;
  border: solid 1px #ccc;
  padding: 2px 10px 5px 32px;
  width: 55px;
  border-radius: 10em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 130px;
}

#search-bar input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  border: none;
}

#search-barinput[type=search]:hover {
  background-color: #fff;
}

#search-bar input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  border: 1px solid #dddddd;
}

#search-bar input:-moz-placeholder {
  color: transparent;
}

#search-bar input::-webkit-input-placeholder {
  color: transparent;
}

/* End of search bar */
/* End of Navbar */
.third-container, .fourth-container, .fifth-container, .sixth-container, .seventh-container {
  width: 1300px;
  margin-left: 130px;
  max-width: 90%;
}

@media (max-width: 1024px) {
  .third-container, .fourth-container, .fifth-container, .sixth-container, .seventh-container {
    margin-left: 50px;
  }
}

.sixth-container, .seventh-container {
  margin-top: 90px;
  margin-bottom: 100px;
}

.first-container {
  margin-bottom: 150px;
}

.first-container .background-img {
  position: relative;
  height: 470px;
  left: -60px;
}

.first-container .car-img {
  position: absolute;
  top: 50px;
  left: 250px;
  height: 340px;
}

.first-container .featured-button {
  position: absolute;
  width: 140px;
  height: 40px;
  left: 250px;
  top: 350px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  border-radius: 0px 5px;
  border-style: none;
}

.first-container .main-headline {
  margin-left: 150px;
  margin-top: 50px;
  width: 679.7px;
  font-weight: 800;
  font-size: 34px;
}

.first-container .main-subtext {
  margin-top: 20px;
  margin-left: 150px;
}

.first-container .read-button {
  position: relative;
  width: 140px;
  height: 41.4px;
  margin-top: 50px;
  margin-left: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
  background: #000000;
  border-radius: 5px;
  border-style: none;
}

.first-container .read-button:hover {
  background-color: #7d7d7d;
}

.first-container .news-articles {
  position: relative;
  left: 30px;
}

.first-container .news-articles h5 {
  width: 463px;
  margin-top: 15px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
  border-left: 6px solid #D24545;
}

.first-container .news-articles h4 {
  margin-top: 55px;
  margin-left: 40px;
  font-weight: 800;
  font-size: 16px;
}

.first-container .news-articles p {
  margin-bottom: 13px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #2F2F2F;
}

.first-container .news-articles .list-divider {
  margin-top: 30px;
  border-top: 1px solid #DDDDDD;
  width: 460px;
}

.first-container .news-articles .see-news {
  text-decoration: none;
  width: 200px;
  margin-left: 350px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.first-container .news-articles .see-news:hover {
  color: #767676;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .first-container .background-img {
    height: 350px;
  }
  .first-container .car-img {
    height: 250px;
    left: 150px;
  }
  .first-container .featured-button {
    left: 150px;
    top: 260px;
  }
  .first-container .main-headline {
    margin-left: 20px;
    width: 480px;
    font-size: 30px;
  }
  .first-container .main-subtext {
    margin-left: 20px;
    width: 480px;
  }
  .first-container .read-button {
    margin-top: 20px;
  }
  .first-container .news-articles h5 {
    width: 350px;
    font-size: 16px;
    margin-top: 10px;
  }
  .first-container .news-articles p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .first-container .news-articles .see-news {
    margin-left: 200px;
  }
  .first-container .news-articles .list-divider {
    width: 90%;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .first-container {
    margin-bottom: 70px;
  }
  .first-container .background-img {
    width: 100%;
    left: 0;
  }
  .first-container .car-img {
    left: 150px;
  }
  .first-container .featured-button {
    left: 150px;
    top: 350px;
  }
  .first-container .main-headline, .first-container .main-subtext {
    margin-left: 80px;
    margin-right: 80px;
  }
  .first-container .read-button {
    margin-left: 300px;
  }
  .first-container .news-articles {
    padding: 0;
  }
  .first-container .news-articles h5 {
    width: 350px;
    font-size: 16px;
    margin-top: 10px;
  }
  .first-container .news-articles p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .first-container .news-articles .see-news {
    position: absolute;
    margin-left: 440px;
    margin-top: -50px;
  }
  .first-container .news-articles .list-divider {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .first-container .car-img {
    width: 395px;
    left: 30px;
  }
  .first-container .featured-button {
    left: 30px;
  }
  .first-container .main-headline, .first-container .main-subtext {
    text-align: center;
    margin-left: 10px;
    width: 400px;
  }
  .first-container .news-articles {
    left: 0;
    width: 100%;
  }
  .first-container .news-articles {
    text-align: center;
    left: 0px;
    padding-left: 0;
  }
  .first-container .news-articles h5 {
    width: 370px;
  }
  .first-container .news-articles h4 {
    margin-left: 0px;
  }
  .first-container .news-articles p {
    margin-left: 20px;
  }
  .first-container .news-articles .list-divider {
    width: 95%;
  }
  .first-container .news-articles .see-news {
    margin-left: 0;
  }
}

.second-container {
  margin-left: 130px;
  max-width: 90%;
}

.second-container h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.second-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.second-container img {
  height: 445px;
}

.second-container .first-box, .second-container .second-box {
  border: 1px solid  #DFDFDF;
  padding: 44px;
  width: 450px;
  margin-bottom: 10px;
}

.second-container .first-box:hover, .second-container .second-box:hover {
  background: #D24545;
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: -30px;
}

.second-container .first-box:hover a, .second-container .second-box:hover a {
  background: #D24545;
  color: #fff;
}

.second-container .news-box-2 {
  margin-left: 110px;
}

.second-container .breaking-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  border-radius: 0px 0px 5px 0px;
  border-style: none;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .second-container {
    margin-left: 20px;
    max-width: 100%;
  }
  .second-container img {
    height: 430px;
  }
  .second-container .first-box, .second-container .second-box {
    width: 270px;
    padding: 34px;
  }
  .second-container .first-box h4, .second-container .second-box h4 {
    font-size: 16px;
  }
  .second-container .first-box p, .second-container .second-box p {
    font-size: 12px;
  }
  .second-container .news-box-2 {
    margin-left: 20px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .second-container {
    margin-left: 20px;
  }
  .second-container .first-box, .second-container .second-box {
    width: 340px;
    padding: 30px;
  }
  .second-container .first-box h4, .second-container .second-box h4 {
    font-size: 16px;
  }
  .second-container .first-box p, .second-container .second-box p {
    font-size: 12px;
  }
  .second-container .news-box-2 {
    margin-left: 0px;
  }
  .second-container img {
    padding: 0;
    width: 700px;
  }
}

@media (max-width: 575px) {
  .second-container {
    margin-left: 12px;
  }
  .second-container .first-box, .second-container .second-box, .second-container img {
    width: 400px;
  }
  .second-container .news-box-2 {
    margin-left: 0px;
  }
}

.third-container .top-box h4, .third-container .bottom-box h4, .fifth-container .top-box h4, .fifth-container .bottom-box h4 {
  margin-top: 15px;
  width: 260px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.third-container .top-box p, .third-container .bottom-box p, .fifth-container .top-box p, .fifth-container .bottom-box p {
  width: 81px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #2F2F2F;
}

.third-container .news-section-col-1 p, .fifth-container .news-section-col-1 p {
  margin-bottom: 67px;
}

.third-container .news-section-col-2 .top-box p, .fifth-container .news-section-col-2 .top-box p {
  margin-bottom: 115px;
}

.third-container .news-section-col-3 h4, .third-container .technology-section-col-1 h4, .fifth-container .news-section-col-3 h4, .fifth-container .technology-section-col-1 h4 {
  width: 589.15px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.third-container .news-section-col-3 img, .third-container .technology-section-col-1 img, .fifth-container .news-section-col-3 img, .fifth-container .technology-section-col-1 img {
  width: 595px;
}

.third-container .news-section-col-3 svg, .third-container .technology-section-col-1 svg, .fifth-container .news-section-col-3 svg, .fifth-container .technology-section-col-1 svg {
  margin-left: 5px;
}

.third-container .news-section-col-3 .sub-text-1, .third-container .technology-section-col-1 .sub-text-1, .fifth-container .news-section-col-3 .sub-text-1, .fifth-container .technology-section-col-1 .sub-text-1 {
  width: 285px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #2F2F2F;
}

.third-container .news-section-col-3 .sub-text-2, .third-container .technology-section-col-1 .sub-text-2, .fifth-container .news-section-col-3 .sub-text-2, .fifth-container .technology-section-col-1 .sub-text-2 {
  width: 589px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.third-container .more-reading, .fifth-container .more-reading {
  width: 240px;
  margin-top: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .third-container .top-box h4, .third-container .bottom-box h4, .fifth-container .top-box h4, .fifth-container .bottom-box h4 {
    width: 200px;
    font-size: 14px;
  }
  .third-container .top-box img, .third-container .bottom-box img, .fifth-container .top-box img, .fifth-container .bottom-box img {
    width: 210px;
  }
  .third-container .news-section-col-2 .top-box p, .fifth-container .news-section-col-2 .top-box p {
    margin-bottom: 102px;
  }
  .third-container .news-section-col-3 h4, .third-container .technology-section-col-1 h4, .fifth-container .news-section-col-3 h4, .fifth-container .technology-section-col-1 h4 {
    font-size: 16px;
    width: 450px;
  }
  .third-container .news-section-col-3 img, .third-container .technology-section-col-1 img, .fifth-container .news-section-col-3 img, .fifth-container .technology-section-col-1 img {
    width: 440px;
    height: 310px;
  }
  .third-container .news-section-col-3 .sub-text-2, .third-container .technology-section-col-1 .sub-text-2, .fifth-container .news-section-col-3 .sub-text-2, .fifth-container .technology-section-col-1 .sub-text-2 {
    width: 430px;
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .third-container .top-box h4, .third-container .bottom-box h4, .fifth-container .top-box h4, .fifth-container .bottom-box h4 {
    width: 200px;
    font-size: 14px;
  }
  .third-container .top-box img, .third-container .bottom-box img, .fifth-container .top-box img, .fifth-container .bottom-box img {
    width: 310px;
  }
  .third-container .news-section-col-3 img, .third-container .technology-section-col-1 img, .fifth-container .news-section-col-3 img, .fifth-container .technology-section-col-1 img {
    width: 670px;
    height: 400px;
  }
  .third-container .technology-section-col-1, .fifth-container .technology-section-col-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .third-container .top-box img, .third-container .bottom-box img, .fifth-container .top-box img, .fifth-container .bottom-box img {
    width: 320px;
  }
  .third-container .news-section-col-3 h4, .third-container .news-section-col-3 .sub-text-2, .third-container .technology-section-col-1 h4, .third-container .technology-section-col-1 .sub-text-2, .fifth-container .news-section-col-3 h4, .fifth-container .news-section-col-3 .sub-text-2, .fifth-container .technology-section-col-1 h4, .fifth-container .technology-section-col-1 .sub-text-2 {
    width: 360px;
  }
  .third-container .news-section-col-3 img, .third-container .technology-section-col-1 img, .fifth-container .news-section-col-3 img, .fifth-container .technology-section-col-1 img {
    width: 320px;
  }
  .third-container .technology-section-col-1, .fifth-container .technology-section-col-1 {
    margin-bottom: 30px;
  }
}

.fourth-container h4, .seventh-container h4 {
  margin-top: 20px;
  width: 380px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.fourth-container img, .seventh-container img {
  width: 370px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .fourth-container h4, .seventh-container h4 {
    font-size: 16px;
    width: 250px;
  }
  .fourth-container img, .seventh-container img {
    width: 250px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .fourth-container h4, .seventh-container h4 {
    font-size: 16px;
    width: 200px;
  }
  .fourth-container img, .seventh-container img {
    width: 200px;
  }
}

@media (max-width: 575px) {
  .fourth-container h4, .seventh-container h4 {
    width: 320px;
  }
  .fourth-container img, .seventh-container img {
    width: 320px;
  }
}

.fifth-container {
  margin-bottom: 80px;
}

.fifth-container .top-box p {
  margin-bottom: 67px;
}

.sport-news-section {
  background-color: #FAFAFA;
  border-top: 1px solid  #DDDDDD;
}

.sport-news-section .sixth-container h4 {
  margin-top: 20px;
  width: 275px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .sport-news-section .sixth-container h4 {
    font-size: 16px;
    width: 200px;
  }
}

.sport-news-section .sixth-container img {
  width: 275px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .sport-news-section .sixth-container img {
    width: 200px;
  }
}

@media (max-width: 575px) {
  .sport-news-section .sixth-container img {
    width: 320px;
  }
}

.sport-news-section .sixth-container .section-title {
  margin-bottom: 50px;
}

.special-features-section {
  background-color: #B53838;
  color: #FFFFFF;
}

.special-features-section a {
  color: #FFFFFF;
}

.special-features-section .section-title {
  width: 300px;
  margin-bottom: 50px;
}

/* Start of footer */
footer {
  background-color: #D24545;
  padding: 50px 20px;
  line-height: 2px;
}

footer a, footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

footer .footer-desktop a {
  border-right: 1px solid #DDDDDD;
}

footer .footer-desktop .copyright {
  margin-left: 180px;
  border-right: none !important;
}

footer .footer-desktop .fourth-link, footer .footer-desktop h3 a, footer .footer-desktop .copyright {
  text-decoration: none !important;
  border-right: none;
}

footer .footer-desktop a:hover, footer .footer-desktop h3 {
  color: #c6c6c6;
}

footer .social-icons .fa-instagram {
  padding-right: 20px;
}

footer .footer-desktop h3 a, footer .footer-mobile h3 a {
  background-color: #B53838;
  margin-left: 150px;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 150px;
}

footer .footer-mobile h3 a {
  margin-left: 0;
}

/* End of footer */
@media only screen and (max-width: 988px) {
  .mobile, .footer-mobile, .text-center, .justify-content-center {
    display: block;
  }
  .desktop, .footer-desktop {
    display: none;
  }
  .mobile .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #desktop-nav {
    display: none;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .navigation-menu .link-title {
    width: auto;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin: auto;
    border-right: none;
  }
  .navigation-menu .weather-search {
    margin: auto;
  }
  .navigation-menu button {
    margin: 20px auto;
  }
  .navigation-menu .weather-widget img {
    width: 100px;
    margin: auto;
  }
  input {
    position: relative;
  }
  footer .footer-mobile {
    text-decoration: none;
    border: none !important;
    list-style-type: none;
  }
  .footer-mobile h3 a {
    margin-left: 0;
  }
  .footer-mobile li {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */